#about {
  padding: 5% 0;
  #box {
    margin: 0 auto;
    text-align: center;
    img {
      margin-bottom: 20px;
      border: 4px solid rgba($dark, 0.2);
      border-radius: 50%;
      padding: 2%;
      transition: 0.2s ease-in-out;
      &:hover {
        border: 4px solid $primary;
      }
    }
  }
  @include primaryBtn($light, $primary);
}
